.userInfo {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
  height: 300px;
  background-color: cadetblue;
  margin: 20px auto;
}

.userInfo > h3 {
  color: whitesmoke;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.paginationBtn {
  display: flex;
  list-style: none;
  justify-content: center;
  width: 80%;
  height: 40px;
  margin: 0 auto;
  margin-top: 10vh;
}

.paginationBtn a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid green;
  outline: none;
  cursor: pointer;
}

.paginationBtn a:hover {
  color: white;
  background-color: green;
}

.paginationActive a {
  color: white;
  background-color: green;
}